#button-container {
  .mentor-approve-btn {
    color: #fff;
    border-radius: 4px;
    border: 1px solid #2148c0;
    background: #2148c0;
  }
  .reject-mentor-approve-btn {
    color: #d0232d;
    border-radius: 4px;
    border: 1px solid #d0232d;
    background: #fff;
  }
  .approved-mentor-approve-btn {
    color: #164371;
    border-radius: 4px;
    border: 1px solid #164371;
    background: #fff;
  }
}
