:root {
  --quick-silver: #a5a5a5;
  --dark-silver: #707070;
  --granite-gray: #666666;
  --raisin-black: #212121;
  --eerie-black: #191919;
  --platinum: #e5e5e5;
  --ghost-white: #fafbff;
  --new-car: #2148c0;
  --new-car-light: #e9eeff;
  --white: #ffffff;
  --american-silver: #cecece;
  --gainsboro: #dcdcdc;
  --gray: #bcbcbc;
  --black-olive: #3d3d3d;
  --alice-blue: #e8f2ff;
  --cetacean-blue: #0d062d;
  --dark-charcole: #333333;
  --davys-gray: #555555;
  --light-primary: #ebeffacc;
  --title-navy: #112669;
  --subtitle-navy: #283765;
  --navy-light: #dde5ff;
  --danger: #dc3545;
  --moderate-blue: #475685;
  --lime-green: #49c381;
  --skyblue: #0cadfe;
  --purple: #7a55fd;
  --text-navy: #283765;
  --text-light: #f2f7ff78;
  --text-blue: #2148c0;
  --gray-blue: #2148c00d;
  --text-black: #4d4d4d;
  --light-sky: #f1f7ff;
  --light-gray: #808080;
  --dark-gray: #3d3d3d;
  --danger-light: #dd4a4a;
  --orange: #b66b00;
  --light-orange: #b66b001c;
  --light-blue: #f2f7ff78;
  --dark-blue: #345068;
  --dark-navy-blue: #164371;
  --dark-gray: #3d3d3d;
  --danger-light: #dd4a4a;
  --orange: #b66b00;
  --light-orange: #b66b001c;
  --5261: #435261;
  --5068: #345068;
  --2e44: #272e44;
  --a32d: #0ca32d;
  --736a: #ff736a;
  --7598: #527598;
  --4453: #454453;
  --3146: #333146;
  --d6e9: #c2d6e9;
  --647d: #47647D;
  --95ab: #8095A8;
  --a74d: #00A74D;
  --f6fc: #F2F6FC;
  --edff: #E8EDFF;
  --7285: #5C7285;
  --e3ff: #DAE3FF;
  --ebff: #E4EBFF;
  --1515: #C11515;
  --f2f2: #f2f2f2;
  --a9b1: #9EA9B1;
  --d9d9: #D9D9D9;
  --8192: #6D8192;
  --9959: #009959;
  --4336: #f44336;
  --3765: #283765;
  --FAFA: #FAFAFA;
  --F8F8: #F8F8F8;
  --2D2D: #2D2D2D;
  --2121: #212121;
  --ecec: #ececec;
  --a500: #FFA500;
  --68d3: #1668D3;
  --4b4b: #4B4B4B;
  --8984: #4589B4;
  --a31a: #00A31A;
  --f3fb: #ECF3FB;
  --2796: #8A2796;
  --224f: #FD8B224F;
  --4c00: #FF4C00;
  --374e: #33374E;
  --e4ff: #D2E4FF;
  --4a50: #464A50;
  --3dcd: #113DCD;
  --f0f2: #EEF0F2;
  --e8ff: #D7E8FF;
  --105d: #00105D;
  --0000: #000000;
  --0f30: #080F30;
  --103a: #06103A;
  --64c5: #0C64C5;
  --f3f3: #F3F3F3;
  --c05c: #FFC05C;
  --efd4: #53EFD4;
  --e3b7: #FFE3B7;
  --ffed: #95FFED;
  --00ff: #0000ff;
  --1f40: #0B1F40;
  --a21a: #00A21A;
  --67a6: #0F67A6;
  --cd1f: #FFCD1F;
  --f7ff: #F1F7FF;
  --5bff: #E5EBFF;
  --5b55: #565B55;
  --4d53: #484D53;
  --e100: #E10000;
  --3700: #B93700;
  --red: #FF0000;
  --48c0: #2148C0;
  --3434: #343434;
}

$colors: (
  "quick-silver": var(--quick-silver),
  "dark-silver": var(--dark-silver),
  "granite-gray": var(--granite-gray),
  "raisin-black": var(--raisin-black),
  "eerie-black": var(--eerie-black),
  "platinum": var(--platinum),
  "ghost-white": var(--ghost-white),
  "new-car": var(--new-car),
  "white": var(--white),
  "american-silver": var(--american-silver),
  "gray": var(--gray),
  "black-olive": var(--black-olive),
  "gainsboro": var(--gainsboro),
  "alice-blue": var(--alice-blue),
  "cetacean-blue": var(--cetacean-blue),
  "dark-charcole": var(--dark-charcole),
  "davys-gray": var(--davys-gray),
  "light-primary": var(--light-primary),
  "new-car-light": var(--new-car-light),
  "title-navy": var(--title-navy),
  "subtitle-navy": var(--subtitle-navy),
  "navy-light": var(--navy-light),
  "danger": var(--danger),
  "moderate-blue": var(--moderate-blue),
  "lime-green": var(--lime-green),
  "skyblue": var(--skyblue),
  "purple": var(--purple),
  "text-navy": var(--text-navy),
  "text-light": var(--text-light),
  "text-blue": var(--text-blue),
  "gray-blue": var(--gray-blue),
  "text-black": var(--text-black),
  "light-sky": var(--light-sky),
  "light-gray": var(--light-gray),
  "dark-gray": var(--dark-gray),
  "danger-light": var(--danger-light),
  "orange": var(--orange),
  "light-orange": var(--light-orange),
  "light-blue": var(--light-blue),
  "dark-blue": var(--dark-blue),
  "dark-navy-blue": var(--dark-navy-blue),
  "5261": var(--5261),
  "5068": var(--5068),
  "2e44": var(--2e44),
  "a32d": var(--a32d),
  "736a": var(--736a),
  "7598": var(--7598),
  "4453": var(--4453),
  "3146": var(--3146),
  "d6e9": var(--d6e9),
  "647d": var(--647d),
  "95ab": var(--95ab),
  "a74d": var(--a74d),
  "f6fc": var(--f6fc),
  "edff": var(--edff),
  "7285": var(--7285),
  "e3ff": var(--e3ff),
  "ebff": var(--ebff),
  "1515": var(--1515),
  "f2f2": var(--f2f2),
  "a9b1": var(--a9b1),
  "d9d9": var(--d9d9),
  "8192": var(--8192),
  "9959": var(--9959),
  "4336": var(--4336),
  "3765": var(--3765),
  "FAFA": var(--FAFA),
  "F8F8": var(--F8F8),
  "2D2D": var(--2D2D),
  "2121": var(--2121),
  "ecec": var(--ecec),
  "a500": var(--a500),
  "68d3": var(--68d3),
  "4b4b": var(--4b4b),
  "8984": var(--8984),
  "a31a": var(--a31a),
  "f3fb": var(--f3fb),
  "2796": var(--2796),
  "224f": var(--224f),
  "4c00": var(--4c00),
  "374e": var(--374e),
  "e4ff": var(--e4ff),
  "4a50": var(--4a50),
  "3dcd": var(--3dcd),
  "f0f2": var(--f0f2),
  "e8ff": var(--e8ff),
  "105d": var(--105d),
  "cd1f": var(--cd1f),
  "0000": var(--0000),
  "0f30": var(--0f30),
  "103a": var(--103a),
  "64c5": var(--64c5),
  "f3f3": var(--f3f3),
  "c05c": var(--c05c),
  "efd4": var(--efd4),
  "e3b7": var(--e3b7),
  "ffed": var(--ffed),
  "00ff": var(--00ff),
  "1f40": var(--1f40),
  "a21a": var(--a21a),
  "67a6": var(--67a6),
  "f7ff": var(--f7ff),
  "5bff": var(--5bff),
  "5b55": var(--5b55),
  "4d53": var(--4d53),
  "e100": var(--e100),
  "3700": var(--3700),
  "red": var(--red),
  "48c0": var(--48c0),
  "3434": var(--3434),
);

@each $name, $color in $colors {
  .color-#{$name} {
    color: $color !important;
  }

  .bg-#{$name} {
    background-color: $color !important;
  }

  .b-#{$name} {
    border: 1px solid $color !important;
  }

  .bb-#{$name} {
    border-bottom: 1px solid $color !important;
  }

  .bt-#{$name} {
    border-top: 1px solid $color !important;
  }
}